[user]
	name = simplificacode
	email = simplificacode@gmail.com
[core]
	autocrlf = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
